<configuration>
    <property name="LOG_DIR" value="${ewancli.log.dir:-${user.home}/.ewancli/logs}"/>
    <property name="LOG_LEVEL" value="${ewancli.log.level:-INFO}"/>
    <property name="LOG_MAX_HISTORY" value="${ewancli.log.maxHistory:-7}"/>
    <property name="LOG_MAX_FILE_SIZE" value="${ewancli.log.maxFileSize:-10MB}"/>
    <property name="LOG_TOTAL_SIZE_CAP" value="${ewancli.log.totalSizeCap:-100MB}"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/ewancli.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/ewancli.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>
